.mobile-header {
  display: none;
}
/* desktop */
@media only screen and (min-width: 992px) {
  .toggle-menu {
    display: none;
  }
}
/* tablet and mobile */
@media screen and (max-width: 991.98px) {
  .show-on-mobile {
    display: none;
  }
  .mobile-header {
    display: block;
  }
  .header .body {
    justify-content: space-between;
    position: relative;
  }
  .header .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .header .btn-sign-up {
    margin-left: auto;
  }
  .header .body .nav {
    display: none;
  }
  .hero .body {
    flex-direction: column;
  }

  .toggle-menu {
    display: inline-block;
    width: 20px;
    height: 20px;
    scale: 1.5;
  }
  .menu-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s linear;
  }
  .menu-drawer {
    padding: 60px;
    position: fixed;
    inset: 0 40% 0 0;
    background: #fff;
    z-index: 2;
    transform: translate(-100%);

    transition: 0.5s linear;
  }
  .menu-drawer ul {
    margin-top: 30px;
  }
  .menu-drawer ul li {
    padding: 20px 0;
  }
  .menu-drawer:target {
    display: none;
  }
  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }
  .menu-checkbox:checked ~ .menu-drawer {
    transform: translate(0);
  }
}
/* tablet */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
}
/* mobile */
@media screen and (max-width: 767.98px) {
  .header .btn-sign-up {
    display: none;
  }
  .menu-drawer {
    padding: 40px;
    inset: 0 25% 0 0;
  }
  .show-on-mobile {
    display: block;
  }
  .show-on-mobile:nth-of-type(5) {
    border-top: 1px solid rgb(167, 161, 161);
  }
  .hero .media-block {
    width: 100%;
  }
  .hero .media-block .img {
    width: 100%;
  }
  .hero .hero-summary {
    left: 0;
  }
  .hero .content-block {
    width: 100%;
    margin-left: 0;
  }
  .content-block .stats strong {
    display: block;
    text-align: center;
    margin-top: 30px;
  }
  .hero .content-block .stats {
    text-align: center;
  }
  .popular .popular-top {
    flex-direction: column;
  }
  .popular .popular-top .info {
    width: 100%;
  }
  .popular-top .control {
    margin: 50px auto;
    scale: 3;
  }
  .courses-list {
    flex-direction: column;
  }
  .courses-list .courses-items {
    width: 100%;
  }
  .courses-list .thumb {
    width: 100%;
    height: auto;
  }
  .feeling .content {
    flex-direction: column;
  }
  .feeling .avatar-block {
    margin: 0 auto;
  }
  blockquote {
    width: 100%;
    padding-right: 0;
  }
  .featured .content {
    flex-direction: column;
  }
  .featured .images {
    flex-direction: column;
    row-gap: 30px;
    width: 100%;
  }
  .featured .images .img {
    width: 100%;
  }
  .featured-2nd .images .img-2nd {
    width: 100%;
    height: auto;
    margin-left: 0;
  }
  .blog .blog-list {
    flex-direction: column;
  }
  .blog .blog-list .blog-item {
    width: 100%;
  }
  .blog .blog-item .blog-cta {
    display: block;
    width: 118px;
    margin-left: auto;

    margin-right: auto;
  }
  .blog .blog-item .thumb {
    width: 100%;
    height: auto;
  }
  footer {
    padding: 30px 10px;
  }
  footer .body {
    flex-direction: column;
  }
  footer .body .info {
    width: 100%;
  }
  footer .footer-list {
    margin-top: 40px;
    flex-direction: column;
    row-gap: 40px;
  }
  footer .body .contact {
    width: 100%;
    overflow: hidden;
  }
  footer .contact p {
    width: 90%;
  }
}
